.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80px;
    width: 100%;
    background-color: navy;
    color: white;
    display: flex;
    margin-bottom: 50px;

    &__title {
        margin-left: 20px;
    }
}

.resume-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.resume-form {
    background-color: #eee;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px 5px 3px rgba(63, 63, 63, 0.144);
}

.form {
    
    &__field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;

        select {
            width: 100%;
            padding: 8px 5px;
            border-radius: 3px;
            border: 1px solid lightgrey;
            background: white;
            outline: none;

        }
    }

    &__label {
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
        margin-left: 2px;
        color: grey;
    }

    &__input, &__text, &__date {
        width: 30rem;
        padding: 10px 10px;
        border-radius: 3px;
        border: 1px solid lightgrey;
        outline: none;
    }

    &__text {
        font-family: arial;
        resize: vertical;
        height: 100px;
    }

    &__header {
        font-weight: 300;
        text-align: center;
        background-color: rgb(1, 1, 80);
        color: white;
        padding: 8px;
        font-size: 22px;
        text-transform: uppercase;
    }


    &__add {
        width: 100%;
        padding: 8px;
        background-color: green;
        color: white;
        font-size: 16px;
        margin: 10px 0;

        &:hover {
            background-color: rgb(0, 168, 0);
        }
    }
}

// Resume Display
.display {
    display: flex;
    flex-direction: column;
    border-right: 3px solid darkslategrey;
    border-left: 3px solid darkslategrey;
    width: 800px;

    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        padding: 0 20px;
        display: inline-block;
        border-right: 2px solid darkslategrey;
        border-left: 2px solid darkslategrey;
    }

    &__header {
        display: flex;
        align-items: center;
        border-top: 3px solid darkslategrey;
        border-bottom: 3px solid darkslategrey;;

        &__image {
            width: 200px;
            height: 200px;
            padding: 15px;
            border-right: 3px solid darkslategrey;
        }

        &__text {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            width: 100%;
        }

        &__name {
            text-transform: uppercase;
            display: block;
            font-size: 28px;
            width: 100%;
            letter-spacing: 2px;
            font-weight: 500;
            padding-bottom: 10px;
            border-bottom: 2px solid darkslategrey;
        }

        &__contacts {
            display: flex;
            align-items: center;

            & > * {
                margin-right: 5rem;
            }
        }
    }

    &__bio {
        padding: 20px;
    }
}

.education{
    &__tabs {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: blueviolet;

        &__tab {
            cursor: pointer;
            background-color: green;
            padding: 5px;
            color: white;
            margin-right: 5px;
        }
    }

}