// Global Reset 

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(37, 61, 61);
}

.header {
    height: 80px;
    width: 100%;
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &__title {
        margin-left: 20px;
    }
}

.resume-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.resume-form {
    background-color: #eee;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px 5px 3px rgba(63, 63, 63, 0.144);
    margin-right: 100px;
}

.form {
    
    &__field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;

        select {
            width: 100%;
            padding: 8px 5px;
            border-radius: 3px;
            border: 1px solid lightgrey;
            background: white;
            outline: none;

        }
    }

    &__label {
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
        margin-left: 2px;
        color: grey;
    }

    &__input, &__text, &__date {
        width: 30rem;
        padding: 10px 10px;
        border-radius: 3px;
        border: 1px solid lightgrey;
        outline: none;
        background-color: white;
        color: grey;
    }

    &__text {
        font-family: arial;
        resize: vertical;
        height: 100px;
    }

    &__header {
        font-weight: 300;
        text-align: center;
        background-color: rgb(1, 1, 80);
        color: white;
        padding: 8px;
        font-size: 22px;
        text-transform: uppercase;
        margin: 15px 0;
    }


    &__add, &__update, &__delete {
        width: 100%;
        padding: 8px;
        background-color: green;
        color: white;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border: none;
        margin-top: 6px;
        transition: .3s all;

        &:hover {
            background-color: rgb(0, 168, 0);
        }
    }

    &__delete {
        background-color: red;
        &:hover {
            background-color: rgb(200, 5, 5);
        }
    }
}

// Resume Display
.display {
    display: flex;
    flex-direction: column;
    border-right: 3px solid lightsteelblue;
    border-left: 3px solid lightsteelblue;
    border-bottom: 3px solid lightsteelblue;
    width: 800px;
    box-shadow: 5px 5px 5px 3px rgba(63, 63, 63, 0.144);

    &__heading {
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-weight: 300;
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 2px solid lightsteelblue;
        font-size: 26px;
    }

    &__header {
        display: flex;
        align-items: center;
        border-top: 3px solid lightsteelblue;
        border-bottom: 3px solid lightsteelblue;

        &__image {
            width: 200px;
            height: 200px;
            padding: 15px;
            border-right: 3px solid lightsteelblue;
        }

        &__text {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            width: 100%;
        }

        &__name {
            text-transform: uppercase;
            display: block;
            font-size: 28px;
            width: 100%;
            letter-spacing: 2px;
            font-weight: 500;
            padding-bottom: 10px;
            border-bottom: 2px solid lightsteelblue;
            margin-bottom: 10px;
        }

        &__contacts {
            display: flex;
            align-items: center;
            margin-top: 15px;

            & > * {
                margin-right: 5rem;
            }
        }
    }

    &__bio {
        padding: 20px;

        &__text {
            padding-top: 15px;
        }
    }

    &__experience {
        padding: 20px;

        &__block {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
    
        &__job-title {
            text-transform: uppercase;
            font-size: 18px;
        }

        &__field {
            margin-bottom: 5px;
        }

        &__description {
            margin-top: 5px;
            font-size: 14px;
        }
    }

    &__education {
        padding: 20px;

        &__block {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        &__qualification {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
    }
}

.experience, .education {
    &__tabs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        & > * {
            margin-right: 3px;
        }

        &__tab {
            cursor: pointer;
            border: 1px solid grey;
            border-radius: 3px;
            padding: 5px 10px;
            color: grey;
            transition: .3s all;

            &:hover {
                background-color: grey;
                color: white;
            }

            &--new {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }    
}